.banner {
  display: flex;
  box-sizing: border-box;
  margin: 0 auto 80px auto;
  min-width: 320px;
  width: 70%;
}

.banner h2 {
  font-family: serif;
  font-size: 45px;
  font-weight: lighter;
  letter-spacing: 2px;
  text-align: left;
}

.banner p {
  font-size: 20px;
  font-weight: lighter;
  line-height: 150%;
  text-align: left;
}

.banner-left {
  width: 50%;
}

.banner-right {
  background-image: url(http://68.media.tumblr.com/bd9c40368eed9d1d994bfc716aafec48/tumblr_inline_ocdletfMwY1sse7kl_500.png);
  background-size: cover;
  min-height: 240px;
  width: 50%;
}

.button-holder {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 900px) {

  .banner {
    flex-direction: column-reverse;
  }

  .banner h2 {
    font-size: 36px;
  }
  
  .banner-left,
  .banner-right {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {

  .banner {
    margin: 0 auto 50px auto;
    padding-left: 5px;
    padding-right: 5px;
  }

  .banner h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }


  .button-holder {
    justify-content: center;
  }
}

@media screen and (max-width: 365px) {

  .banner {
    padding-left: 25px;
    padding-right: 25px;
  }
}
