.header {
  align-items: center;
  box-sizing: border-box;
  border-bottom: 2px solid ghostwhite;
  display: flex;
  justify-content: space-between;
  margin: auto;
  min-width: 320px;
  padding: 20px;
}

.nav-toggle {
  display: none;
}

a {
  color: lightseagreen;
  text-align: center;
  text-decoration: none;
  width: 20%;
}

a:hover {
  color: turquoise;
}

h1 {
  font-family: serif;
  font-size: 40px;
  font-weight: bolder;
  margin: 0;
}


@media screen and (max-width: 420px) {

  .nav-toggle {
    display: inline;
    font-size: 30px;
  }

  .header-story,
  .header-sign-in {
    display: none;
  }

  .header h1 {
    margin-left: 10px;
  }

} 

